Se pretende obtener el listado de errores en formato csv de un fichero pdf

In [1]:
# !pip install pymupdf

In [2]:
import pandas as pd
import numpy as np
import fitz

In [3]:
doc = fitz.open(r'C:/Users/ragod/OneDrive/Escritorio/2022_errores_posteriores.pdf') 
#lectura d ela pagina de clasificaci
lista =[]
for p in range(0,278):
    pagina = doc[p]
    paras = pagina.get_text('blocks')
    # la información empieza del bloque 13  al 33 apartir del elemento 5
    for i in range(13, len(paras)-1):
        lista.append(paras[i][4])

In [4]:
lista2=[]
for n in range(0, len(lista)-1,2):
    lista2.append(lista[n]+'\n'+lista[n+1])

In [5]:

for n in range(len(lista2)):
    xx = lista2[n][18:21]
    if xx == '200':
        lista2[n]=lista2[n][:18]+'*\n*\n'+lista2[n][18:]

In [6]:
for n in range(len(lista2)):
    xx = lista2[n][18:21]
    if xx == '000':
        lista2[n]=lista2[n][:18]+'*\n'+lista2[n][18:]

In [7]:
for n in range(len(lista2)):
    xx = lista2[n][36:39]
    if xx == '200':
        lista2[n]=lista2[n][:36]+'*\n'+lista2[n][36:]

In [8]:
lista3 =[]
for n in range(0, len(lista2)):
    lista3.append(lista2[n].split('\n'))

In [11]:
lista3[1]

['00159222B10000004',
 '*',
 '000355430273',
 '2002300',
 '00159221330004190',
 '20221401  312A1  660',
 '38000,00',
 '013062100060',
 '2002140010001001795',
 '',
 '1',
 'La operación de enlace no está todavía contabilizada para la operacion de la paralela interna 00159222B10000004',
 '']

In [10]:
'''

for n in range(len(lista3)):
    lista3[n][6]= lista3[n][6].replace('.', '')
'''

IndexError: list index out of range

In [12]:
for j in range(0,len(lista3)):
    lista3[j][6]= lista3[j][6].replace(',', '.')

IndexError: list index out of range

In [13]:
lista3[0][6]

'38000.00'

In [14]:
df =pd.DataFrame(lista3)

In [15]:
df.columns =['num_paralela','num_x','tercero','cod_op','op_2021','apli','importe','exp_gasto','exp_gestor','num_error','error','x','y']

In [16]:
df['num_error'] = np.where(df['num_error'] =='', df['error'], df['num_error'])

In [17]:
df['error'] = np.where(df['error'] ==df['num_error'], df['x'], df['error'])

In [18]:
df.pop('x')
df.pop('y')

0
1
2
3
4       None
        ...
3017
3018
3019    None
3020    None
3021    None
Name: y, Length: 3022, dtype: object

In [19]:
df[df['num_paralela']=='Total']

,num_paralela,num_x,tercero,cod_op,op_2021,apli,importe,exp_gasto,exp_gestor,num_error,error
153,Total,"7.521.966,28",14 Servicio 01,,Total Compromisos:,"3.758.483,14",,None,None,None,None
377,Total,"15.022.042,05",14 Servicio 02,,Total Compromisos:,"7.305.585,57",,None,None,None,None
1745,Total,"18.373.709.326,6",14 Servicio 03,,Total Compromisos:,"14.704.943.867,91",,None,None,None,None
1902,Total,"59.333.724,76",14 Servicio 12,,Total Compromisos:,"30.052.720,09",,None,None,None,None
2029,Total,"88.224.920,01",14 Servicio 17,,Total Compromisos:,"61.328.796,63",,None,None,None,None
2934,Total,"141.277.996,19",14 Servicio 22,,Total Compromisos:,"63.126.321,34",,None,None,None,None
3019,Total,"79.629.914,76",14 Servicio 50,,Total Compromisos:,"33.179.131,15",,None,None,None,None

In [20]:
df[df['importe'].isnull()]

,num_paralela,num_x,tercero,cod_op,op_2021,apli,importe,exp_gasto,exp_gestor,num_error,error
3020,Total General,"18.764.719.890,66",,Total General,"14.903.694.905,83",,None,None,None,None,None
3021,Página 278 de 278,,00159222B10000003,,None,None,None,None,None,None,None

In [21]:
clean_index=[i for i in df.index if i not in df[df['num_paralela'] =='Total'].index]  # selecciono los indices del df que no estan en outliers
clean_index

df = df.iloc[clean_index]

In [194]:
# selecciono los indices del df que no estan en outliers
clean_index=[i for i in df.index if i not in df[df['num_paralela']=='Total']

df=df.iloc[clean_index]

SyntaxError: invalid syntax (<ipython-input-194-8c3b23d9485a>, line 4)

In [18]:
#df.to_csv('df_final.csv', index = False)

In [22]:
df.dtypes

num_paralela    object
num_x           object
tercero         object
cod_op          object
op_2021         object
apli            object
importe         object
exp_gasto       object
exp_gestor      object
num_error       object
error           object
dtype: object

In [23]:
nan_cols=df.isna().sum()

nan_cols[nan_cols>0]

op_2021       1
apli          1
importe       2
exp_gasto     2
exp_gestor    2
num_error     2
error         2
dtype: int64

In [24]:
lista_error = [2038,2039,2040,2041,2042,2043]
df_erro =df.iloc[lista_error]

In [25]:
df.iloc[lista_error]

,num_paralela,num_x,tercero,cod_op,op_2021,apli,importe,exp_gasto,exp_gestor,num_error,error
2043,00159222B10003028,00159220340003737,*,2002100,00159221330000004,20221422 122AU 650,940848.00,400000039976,1991140210023001424,6,Los campos DIR3 son requeridos
2044,00159222B10003029,00159221310070524,000U06828677,2003000,00159221330002954,20221422 122AU 650,940848.00 1991140210023001424,,1,No existe saldo para la aplicación 20221422 1...,
2045,00159222B10003029,00159221310070524,000U06828677,2003000,00159221330002954,20221422 122AU 650,940848.00 1991140210023001424,,2,Insuficiencia de saldo en situación aplicación...,
2046,00159222B10003029,00159221310070524,000U06828677,2003000,00159221330002954,20221422 122AU 650,940848.00 1991140210023001424,,3,Insuficiencia de saldo en Superproyecto-Aplica...,
2047,00159222B10003029,00159221310070524,000U06828677,2003000,00159221330002954,20221422 122AU 650,940848.00 1991140210023001424,,4,Insuficiencia de saldo en Proyecto-Aplicación ...,
2048,00159222B10003029,00159221310070524,000U06828677,2003000,00159221330002954,20221422 122AU 650,940848.00 1991140210023001424,,5,Clave 20221422 122A 65 inexistente en ...,

In [26]:
#df.iloc[lista_error,6]='940848.00'

In [27]:
lista_error = [2051,2052,2053,2054,2055]
#df.iloc[lista_error,9] =df.iloc[lista_error,8]

In [28]:
df.iloc[lista_error]

,num_paralela,num_x,tercero,cod_op,op_2021,apli,importe,exp_gasto,exp_gestor,num_error,error
2056,00159222B10003032,00159221310055364,000A32032039,2003000,00159221330002332,20221422 122AU 650,4445992.79 1991140210023001425,,1,No existe saldo para la aplicación 20221422 1...,
2057,00159222B10003032,00159221310055364,000A32032039,2003000,00159221330002332,20221422 122AU 650,4445992.79 1991140210023001425,,2,Insuficiencia de saldo en situación aplicación...,
2058,00159222B10003032,00159221310055364,000A32032039,2003000,00159221330002332,20221422 122AU 650,4445992.79 1991140210023001425,,3,Insuficiencia de saldo en Superproyecto-Aplica...,
2059,00159222B10003032,00159221310055364,000A32032039,2003000,00159221330002332,20221422 122AU 650,4445992.79 1991140210023001425,,4,Insuficiencia de saldo en Proyecto-Aplicación ...,
2060,00159222B10003032,00159221310055364,000A32032039,2003000,00159221330002332,20221422 122AU 650,4445992.79 1991140210023001425,,5,Clave 20221422 122A 65 inexistente en ...,

In [29]:
#df.iloc[lista_error,6]='4445992.79'

In [30]:
df.iloc[lista_error,9] =df.iloc[lista_error,8]

In [31]:
#df.iloc[lista_error,9] =df.iloc[lista_error,8]

In [32]:
df['importe']=df['importe'].astype(float)

In [33]:
xx = df['importe'].sum()
xx

18764719890.660004

In [34]:
nan_cols=df.isna().sum()

nan_cols[nan_cols>0]

op_2021       1
apli          1
importe       2
exp_gasto     2
exp_gestor    2
num_error     2
error         2
dtype: int64

In [35]:
df.reindex()

,num_paralela,num_x,tercero,cod_op,op_2021,apli,importe,exp_gasto,exp_gestor,num_error,error
0,00159222B10000003,*,*,2001000,00159221330000973,20221401 312A1 660,38000.00,101000002468,2002140010001001795,1,Los campos DIR3 son requeridos
1,00159222B10000004,*,000355430273,2002300,00159221330004190,20221401 312A1 660,38000.00,013062100060,2002140010001001795,1,La operación de enlace no está todavía contabi...
2,00159222B10000005,*,*,2001000,00159221330000912,20221401 312A1 660,77817.64,101000002397,2002140010001001796,1,Los campos DIR3 son requeridos
3,00159222B10000006,*,000B81171118,2002300,00159221330003070,20221401 312A1 660,77817.64,013062100058,2002140010001001796,1,La operación de enlace no está todavía contabi...
4,00159222B10000009,*,*,2001000,00159220330000017,20221401 121M2 22799,3450.26,101000005519,,1,Los campos DIR3 son requeridos
...,...,...,...,...,...,...,...,...,...,...,...
3016,00159222B10004923,00159221310145432,000B85908093,2003000,00159221330005717,20221450 120A2 682,145984.08,033022100094,2021140500101000007,3,Insuficiencia de saldo en Superproyecto-Aplica...
3017,00159222B10004923,00159221310145432,000B85908093,2003000,00159221330005717,20221450 120A2 682,145984.08,033022100094,2021140500101000007,4,Insuficiencia de saldo en Proyecto-Aplicación ...
3018,00159222B10004923,00159221310145432,000B85908093,2003000,00159221330005717,20221450 120A2 682,145984.08,033022100094,2021140500101000007,5,Clave 20221450 120A 68 inexistente en ...
3020,Total General,"18.764.719.890,66",,Total General,"14.903.694.905,83",,NaN,None,None,None,None
3021,Página 278 de 278,,00159222B10000003,,None,None,NaN,None,None,None,None

In [36]:
lista_e =df[df['importe'].isnull()].index
lista_e

Int64Index([3020, 3021], dtype='int64')

In [37]:
df.drop([3020, 3021],axis=0, inplace =True)

In [38]:
nan_cols=df.isna().sum()

nan_cols[nan_cols>0]

Series([], dtype: int64)

In [39]:
df

,num_paralela,num_x,tercero,cod_op,op_2021,apli,importe,exp_gasto,exp_gestor,num_error,error
0,00159222B10000003,*,*,2001000,00159221330000973,20221401 312A1 660,38000.00,101000002468,2002140010001001795,1,Los campos DIR3 son requeridos
1,00159222B10000004,*,000355430273,2002300,00159221330004190,20221401 312A1 660,38000.00,013062100060,2002140010001001795,1,La operación de enlace no está todavía contabi...
2,00159222B10000005,*,*,2001000,00159221330000912,20221401 312A1 660,77817.64,101000002397,2002140010001001796,1,Los campos DIR3 son requeridos
3,00159222B10000006,*,000B81171118,2002300,00159221330003070,20221401 312A1 660,77817.64,013062100058,2002140010001001796,1,La operación de enlace no está todavía contabi...
4,00159222B10000009,*,*,2001000,00159220330000017,20221401 121M2 22799,3450.26,101000005519,,1,Los campos DIR3 son requeridos
...,...,...,...,...,...,...,...,...,...,...,...
3014,00159222B10004923,00159221310145432,000B85908093,2003000,00159221330005717,20221450 120A2 682,145984.08,033022100094,2021140500101000007,1,La aplicación 20221450 120A2 682 no exi...
3015,00159222B10004923,00159221310145432,000B85908093,2003000,00159221330005717,20221450 120A2 682,145984.08,033022100094,2021140500101000007,2,Clave 20221450 120A2 682 inexistente en ...
3016,00159222B10004923,00159221310145432,000B85908093,2003000,00159221330005717,20221450 120A2 682,145984.08,033022100094,2021140500101000007,3,Insuficiencia de saldo en Superproyecto-Aplica...
3017,00159222B10004923,00159221310145432,000B85908093,2003000,00159221330005717,20221450 120A2 682,145984.08,033022100094,2021140500101000007,4,Insuficiencia de saldo en Proyecto-Aplicación ...
3018,00159222B10004923,00159221310145432,000B85908093,2003000,00159221330005717,20221450 120A2 682,145984.08,033022100094,2021140500101000007,5,Clave 20221450 120A 68 inexistente en ...

In [40]:
df['SP'] = df['apli'].apply(lambda x: x[6:8])

In [41]:
df['importe'] = df['importe'].astype(float)

In [42]:
df

,num_paralela,num_x,tercero,cod_op,op_2021,apli,importe,exp_gasto,exp_gestor,num_error,error,SP
0,00159222B10000003,*,*,2001000,00159221330000973,20221401 312A1 660,38000.00,101000002468,2002140010001001795,1,Los campos DIR3 son requeridos,01
1,00159222B10000004,*,000355430273,2002300,00159221330004190,20221401 312A1 660,38000.00,013062100060,2002140010001001795,1,La operación de enlace no está todavía contabi...,01
2,00159222B10000005,*,*,2001000,00159221330000912,20221401 312A1 660,77817.64,101000002397,2002140010001001796,1,Los campos DIR3 son requeridos,01
3,00159222B10000006,*,000B81171118,2002300,00159221330003070,20221401 312A1 660,77817.64,013062100058,2002140010001001796,1,La operación de enlace no está todavía contabi...,01
4,00159222B10000009,*,*,2001000,00159220330000017,20221401 121M2 22799,3450.26,101000005519,,1,Los campos DIR3 son requeridos,01
...,...,...,...,...,...,...,...,...,...,...,...,...
3014,00159222B10004923,00159221310145432,000B85908093,2003000,00159221330005717,20221450 120A2 682,145984.08,033022100094,2021140500101000007,1,La aplicación 20221450 120A2 682 no exi...,50
3015,00159222B10004923,00159221310145432,000B85908093,2003000,00159221330005717,20221450 120A2 682,145984.08,033022100094,2021140500101000007,2,Clave 20221450 120A2 682 inexistente en ...,50
3016,00159222B10004923,00159221310145432,000B85908093,2003000,00159221330005717,20221450 120A2 682,145984.08,033022100094,2021140500101000007,3,Insuficiencia de saldo en Superproyecto-Aplica...,50
3017,00159222B10004923,00159221310145432,000B85908093,2003000,00159221330005717,20221450 120A2 682,145984.08,033022100094,2021140500101000007,4,Insuficiencia de saldo en Proyecto-Aplicación ...,50
3018,00159222B10004923,00159221310145432,000B85908093,2003000,00159221330005717,20221450 120A2 682,145984.08,033022100094,2021140500101000007,5,Clave 20221450 120A 68 inexistente en ...,50

In [43]:
df.to_csv('df_final.csv', index = False)

In [44]:
list_indices =[df[df['exp_gestor'] =='1'].index]

In [45]:
list_indices

[Int64Index([253, 1518, 1536, 1539, 1994, 2044, 2056, 2266, 2268, 2280], dtype='int64')]

In [46]:
df.dtypes

num_paralela     object
num_x            object
tercero          object
cod_op           object
op_2021          object
apli             object
importe         float64
exp_gasto        object
exp_gestor       object
num_error        object
error            object
SP               object
dtype: object

In [62]:
df.groupby(['SP']).sum(['importe']).style.format({"importe": "{:.2f}"})

AttributeError: 'Series' object has no attribute 'style'