Se pretende obtener el listado de errores en formato csv de un fichero pdf

In [1]:
# !pip install pymupdf

In [2]:
import pandas as pd
import numpy as np
import fitz

In [3]:
doc = fitz.open(r'C:/Users/ragod/OneDrive/Escritorio/2022_errores_posteriores.pdf') 
#lectura d ela pagina de clasificaci
lista =[]
for p in range(0,277):
    pagina = doc[p]
    paras = pagina.get_text('blocks')
    # la informaci√≥n empieza del bloque 13  al 33 apartir del elemento 5
    for i in range(13, len(paras)-1):
        lista.append(paras[i][4])

In [4]:
lista2=[]
for n in range(0, len(lista)-1,2):
    lista2.append(lista[n]+'\n'+lista[n+1])

In [5]:

for n in range(len(lista2)):
    xx = lista2[n][18:21]
    if xx == '200':
        lista2[n]=lista2[n][:18]+'*\n*\n'+lista2[n][18:]

In [6]:
for n in range(len(lista2)):
    xx = lista2[n][18:21]
    if xx == '000':
        lista2[n]=lista2[n][:18]+'*\n'+lista2[n][18:]

In [7]:
for n in range(len(lista2)):
    xx = lista2[n][36:39]
    if xx == '200':
        lista2[n]=lista2[n][:36]+'*\n'+lista2[n][36:]

In [8]:
lista3 =[]
for n in range(0, len(lista2)):
    lista3.append(lista2[n].split('\n'))

In [9]:
for n in range(len(lista3)):
    lista3[n][6]= lista3[n][6].replace('.', '')

In [10]:
for n in range(len(lista3)):
    lista3[n][6]= lista3[n][6].replace(',', '.')

In [11]:
df =pd.DataFrame(lista3)

In [12]:
df.columns =['num_paralela','num_x','tercero','cod_op','op_2021','apli','importe','exp_gasto','exp_gestor','num_error','error','x','y']

In [13]:
df['num_error'] = np.where(df['num_error'] =='', df['error'], df['num_error'])

In [14]:
df['error'] = np.where(df['error'] ==df['num_error'], df['x'], df['error'])

In [15]:
df.pop('x')
df.pop('y')

0
1
2
3
4       None
        ...
3007
3008
3009
3010
3011
Name: y, Length: 3012, dtype: object

In [16]:
df[df['num_paralela']=='Total']

,num_paralela,num_x,tercero,cod_op,op_2021,apli,importe,exp_gasto,exp_gestor,num_error,error
153,Total,"7.521.966,28",14 Servicio 01,,Total Compromisos:,"3.758.483,14",,None,None,None,None
377,Total,"15.022.042,05",14 Servicio 02,,Total Compromisos:,"7.305.585,57",,None,None,None,None
1745,Total,"18.373.709.326,6",14 Servicio 03,,Total Compromisos:,"14.704.943.867,91",,None,None,None,None
1902,Total,"59.333.724,76",14 Servicio 12,,Total Compromisos:,"30.052.720,09",,None,None,None,None
2029,Total,"88.224.920,01",14 Servicio 17,,Total Compromisos:,"61.328.796,63",,None,None,None,None
2934,Total,"141.277.996,19",14 Servicio 22,,Total Compromisos:,"63.126.321,34",,None,None,None,None

In [17]:
clean_index=[i for i in df.index if i not in df[df['num_paralela'] =='Total'].index]  # selecciono los indices del df que no estan en outliers

df=df.iloc[clean_index]

In [18]:
#df.to_csv('df_final.csv', index = False)

In [19]:
df.dtypes

num_paralela    object
num_x           object
tercero         object
cod_op          object
op_2021         object
apli            object
importe         object
exp_gasto       object
exp_gestor      object
num_error       object
error           object
dtype: object

In [20]:
nan_cols=df.isna().sum()

nan_cols[nan_cols>0]

Series([], dtype: int64)

In [21]:
lista_error = [2039,2040,2041,2042,2043]
df_erro =df.iloc[lista_error]

In [25]:
#df.iloc[lista_error,6]='980848.00'

In [31]:
lista_error = [2051,2052,2053,2054,2055]
#df.iloc[lista_error,9] =df.iloc[lista_error,8]

In [37]:
df.iloc[lista_error]

,num_paralela,num_x,tercero,cod_op,op_2021,apli,importe,exp_gasto,exp_gestor,num_error,error
2056,00159222B10003032,00159221310055364,000A32032039,2003000,00159221330002332,20221422 122AU 650,4445992.79,,1,1,No existe saldo para la aplicaci√≥n 20221422 1...
2057,00159222B10003032,00159221310055364,000A32032039,2003000,00159221330002332,20221422 122AU 650,4445992.79,,2,2,Insuficiencia de saldo en situaci√≥n aplicaci√≥n...
2058,00159222B10003032,00159221310055364,000A32032039,2003000,00159221330002332,20221422 122AU 650,4445992.79,,3,3,Insuficiencia de saldo en Superproyecto-Aplica...
2059,00159222B10003032,00159221310055364,000A32032039,2003000,00159221330002332,20221422 122AU 650,4445992.79,,4,4,Insuficiencia de saldo en Proyecto-Aplicaci√≥n ...
2060,00159222B10003032,00159221310055364,000A32032039,2003000,00159221330002332,20221422 122AU 650,4445992.79,,5,5,Clave 20221422 122A 65 inexistente en ...

In [33]:
#df.iloc[lista_error,6]='4445992.79'

In [35]:
#df.iloc[lista_error,9] =df.iloc[lista_error,8]

In [40]:
df['importe']=df['importe'].astype(float)

In [42]:
df['importe'].sum()

18763898002.100002

In [43]:
nan_cols=df.isna().sum()

nan_cols[nan_cols>0]

Series([], dtype: int64)

In [64]:
df['SP'] = df['apli'].apply(lambda x: x[6:8])

In [65]:
df

,num_paralela,num_x,tercero,cod_op,op_2021,apli,importe,exp_gasto,exp_gestor,num_error,error,SP
0,00159222B10000003,*,*,2001000,00159221330000973,20221401 312A1 660,38000.00,101000002468,2002140010001001795,1,Los campos DIR3 son requeridos,01
1,00159222B10000004,*,000355430273,2002300,00159221330004190,20221401 312A1 660,38000.00,013062100060,2002140010001001795,1,La operaci√≥n de enlace no est√° todav√≠a contabi...,01
2,00159222B10000005,*,*,2001000,00159221330000912,20221401 312A1 660,77817.64,101000002397,2002140010001001796,1,Los campos DIR3 son requeridos,01
3,00159222B10000006,*,000B81171118,2002300,00159221330003070,20221401 312A1 660,77817.64,013062100058,2002140010001001796,1,La operaci√≥n de enlace no est√° todav√≠a contabi...,01
4,00159222B10000009,*,*,2001000,00159220330000017,20221401 121M2 22799,3450.26,101000005519,,1,Los campos DIR3 son requeridos,01
...,...,...,...,...,...,...,...,...,...,...,...,...
3007,00159222B10004921,00159221310064563,*,2001000,00159221330002722,20221450 120A2 682,145984.08,033022100094,2021140500101000007,1,Importe operaci√≥n supera el saldo del Proyecto...,50
3008,00159222B10004921,00159221310064563,*,2001000,00159221330002722,20221450 120A2 682,145984.08,033022100094,2021140500101000007,2,Insuficiencia de saldo vinculaci√≥n 20221450 1...,50
3009,00159222B10004922,00159221310102904,*,2002100,00159221330004582,20221450 120A2 682,145984.08,033022100094,2021140500101000007,1,La aplicaci√≥n 20221450 120A2 682 no exi...,50
3010,00159222B10004922,00159221310102904,*,2002100,00159221330004582,20221450 120A2 682,145984.08,033022100094,2021140500101000007,2,Clave 20221450 120A2 682 inexistente en ...,50
3011,00159222B10004922,00159221310102904,*,2002100,00159221330004582,20221450 120A2 682,145984.08,033022100094,2021140500101000007,3,Insuficiencia de saldo en Superproyecto-Aplica...,50

In [81]:
df.groupby(['SP']).sum(['importe'])

         importe
SP
01  7.521966e+06
02  1.502204e+07
03  1.837371e+10
12  5.933372e+07
17  8.822492e+07
22  1.414780e+08
50  7.860803e+07

In [78]:
df.to_csv('df_final.csv', index = False)

In [94]:
df[df['exp_gestor'] =='1']

,num_paralela,num_x,tercero,cod_op,op_2021,apli,importe,exp_gasto,exp_gestor,num_error,error,SP
253,00159222B10000430,*,000A79486833,2003000,00159221330003022,20221402 121N1 213,14980.03,,1,La operaci√≥n de enlace no est√° todav√≠a contabi...,,02
1518,00159222B10001570,*,000A79486833,2002300,00159221330003407,20221403 122N2 212,2666.67,,1,La operaci√≥n de enlace no est√° todav√≠a contabi...,,03
1536,00159222B10001588,*,000A04975934,2003000,00159221330005608,20221403 121M3 22706,449363.75,,1,La operaci√≥n de enlace no est√° todav√≠a contabi...,,03
1539,00159222B10001591,*,000A04975934,2003000,00159221330005610,20221403 121M3 22706,149787.92,,1,La operaci√≥n de enlace no est√° todav√≠a contabi...,,03
1994,00159222B10002720,*,000Q6550005J,2003000,00159221330002144,20221417 121N1 22606,71500.00,,1,La operaci√≥n de enlace no est√° todav√≠a contabi...,,17
2044,00159222B10003029,00159221310070524,000U06828677,2003000,00159221330002954,20221422 122AU 650,980848.00,,1,1,No existe saldo para la aplicaci√≥n 20221422 1...,22
2056,00159222B10003032,00159221310055364,000A32032039,2003000,00159221330002332,20221422 122AU 650,4445992.79,,1,1,No existe saldo para la aplicaci√≥n 20221422 1...,22
2266,00159222B10003366,*,000B36028991,2003000,00159221330001752,20221422 122M1 22104,19930.52,,1,La operaci√≥n de enlace no est√° todav√≠a contabi...,,22
2268,00159222B10003368,*,000Q2818016D,2002300,00159221330003801,20221422 122M1 22606,26880.00,,1,La operaci√≥n de enlace no est√° todav√≠a contabi...,,22
2280,00159222B10003380,*,000Q2818015F,2002300,00159221330005111,20221422 121N1 22606,45000.00,,1,La operaci√≥n de enlace no est√° todav√≠a contabi...,,22