Se pretende obtener el listado de errores en formato csv de un fichero pdf

In [1]:
# !pip install pymupdf

In [2]:
import pandas as pd
import numpy as np
import fitz

In [3]:
doc = fitz.open(r'C:/Users/ragod/OneDrive/Escritorio/2022_errores_posteriores.pdf') 
#lectura d ela pagina de clasificaci
lista =[]
for p in range(0,277):
    pagina = doc[p]
    paras = pagina.get_text('blocks')
    # la información empieza del bloque 13  al 33 apartir del elemento 5
    for i in range(13, len(paras)-1):
        lista.append(paras[i][4])

In [4]:
lista2=[]
for n in range(0, len(lista)-1,2):
    lista2.append(lista[n]+'\n'+lista[n+1])

In [5]:

for n in range(len(lista2)):
    xx = lista2[n][18:21]
    if xx == '200':
        lista2[n]=lista2[n][:18]+'*\n*\n'+lista2[n][18:]

In [6]:
for n in range(len(lista2)):
    xx = lista2[n][18:21]
    if xx == '000':
        lista2[n]=lista2[n][:18]+'*\n'+lista2[n][18:]

In [7]:
for n in range(len(lista2)):
    xx = lista2[n][36:39]
    if xx == '200':
        lista2[n]=lista2[n][:36]+'*\n'+lista2[n][36:]

In [8]:
lista3 =[]
for n in range(0, len(lista2)):
    lista3.append(lista2[n].split('\n'))

In [9]:
for n in range(len(lista3)):
    lista3[n][6]= lista3[n][6].replace('.', '')

In [10]:
for n in range(len(lista3)):
    lista3[n][6]= lista3[n][6].replace(',', '.')

In [11]:
df =pd.DataFrame(lista3)

In [12]:
df.columns =['num_paralela','num_x','tercero','cod_op','op_2021','apli','importe','exp_gasto','exp_gestor','num_error','error','x','y']

In [13]:
df['num_error'] = np.where(df['num_error'] =='', df['error'], df['num_error'])

In [14]:
df['error'] = np.where(df['error'] ==df['num_error'], df['x'], df['error'])

In [15]:
df.pop('x')
df.pop('y')

0
1
2
3
4       None
        ...
3007
3008
3009
3010
3011
Name: y, Length: 3012, dtype: object

In [16]:
df[df['num_paralela']=='Total']

,num_paralela,num_x,tercero,cod_op,op_2021,apli,importe,exp_gasto,exp_gestor,num_error,error
153,Total,"7.521.966,28",14 Servicio 01,,Total Compromisos:,"3.758.483,14",,None,None,None,None
377,Total,"15.022.042,05",14 Servicio 02,,Total Compromisos:,"7.305.585,57",,None,None,None,None
1745,Total,"18.373.709.326,6",14 Servicio 03,,Total Compromisos:,"14.704.943.867,91",,None,None,None,None
1902,Total,"59.333.724,76",14 Servicio 12,,Total Compromisos:,"30.052.720,09",,None,None,None,None
2029,Total,"88.224.920,01",14 Servicio 17,,Total Compromisos:,"61.328.796,63",,None,None,None,None
2934,Total,"141.277.996,19",14 Servicio 22,,Total Compromisos:,"63.126.321,34",,None,None,None,None

In [17]:
clean_index=[i for i in df.index if i not in df[df['num_paralela'] =='Total'].index]  # selecciono los indices del df que no estan en outliers

df=df.iloc[clean_index]

In [18]:
df.to_csv('df_final.csv', index = False)

In [19]:
df.dtypes

num_paralela    object
num_x           object
tercero         object
cod_op          object
op_2021         object
apli            object
importe         object
exp_gasto       object
exp_gestor      object
num_error       object
error           object
dtype: object

In [20]:
nan_cols=df.isna().sum()

nan_cols[nan_cols>0]

Series([], dtype: int64)

In [21]:
lista_error = [2039,2040,2041,2042,2043]
df_erro =df.iloc[lista_error]

In [25]:
#df.iloc[lista_error,6]='980848.00'

In [31]:
lista_error = [2051,2052,2053,2054,2055]
#df.iloc[lista_error,9] =df.iloc[lista_error,8]

In [37]:
df.iloc[lista_error]

,num_paralela,num_x,tercero,cod_op,op_2021,apli,importe,exp_gasto,exp_gestor,num_error,error
2056,00159222B10003032,00159221310055364,000A32032039,2003000,00159221330002332,20221422 122AU 650,4445992.79,,1,1,No existe saldo para la aplicación 20221422 1...
2057,00159222B10003032,00159221310055364,000A32032039,2003000,00159221330002332,20221422 122AU 650,4445992.79,,2,2,Insuficiencia de saldo en situación aplicación...
2058,00159222B10003032,00159221310055364,000A32032039,2003000,00159221330002332,20221422 122AU 650,4445992.79,,3,3,Insuficiencia de saldo en Superproyecto-Aplica...
2059,00159222B10003032,00159221310055364,000A32032039,2003000,00159221330002332,20221422 122AU 650,4445992.79,,4,4,Insuficiencia de saldo en Proyecto-Aplicación ...
2060,00159222B10003032,00159221310055364,000A32032039,2003000,00159221330002332,20221422 122AU 650,4445992.79,,5,5,Clave 20221422 122A 65 inexistente en ...

In [33]:
#df.iloc[lista_error,6]='4445992.79'

In [35]:
#df.iloc[lista_error,9] =df.iloc[lista_error,8]

In [40]:
df['importe']=df['importe'].astype(float)

In [42]:
df['importe'].sum()

18763898002.100002