In [1]:
import pandas as pd
import numpy as np
# This filters ALL warnings
import warnings
warnings.filterwarnings("ignore")

C:\Users\ragod\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\ragod\anaconda3\lib\site-packages\numpy\.libs\libopenblas.EL2C6PLE4ZYW3ECEVIV3OXXGRN2NRFM2.gfortran-win_amd64.dll
C:\Users\ragod\anaconda3\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
#Importacion de datos
df_lici1 = pd.read_excel(r'C:\Users\ragod\Desktop\Contratos2\2021.xlsx', sheet_name='Licitaciones')
df_result1 = pd.read_excel(r'C:\Users\ragod\Desktop\Contratos2\2021.xlsx', sheet_name='Resultados')

In [3]:
df_lici1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145470 entries, 0 to 145469
Data columns (total 12 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Identificador                145470 non-null  int64
 1   Link licitación              145470 non-null  object
 2   Fecha actualización          145470 non-null  datetime64[ns]
 3   Vigente/Anulada/Archivada    145470 non-null  object
 4   Valor estimado del contrato  144780 non-null  float64
 5   CPV                          144131 non-null  object
 6   Tipo de contrato             145470 non-null  object
 7   Órgano de Contratación       145470 non-null  object
 8   Tipo de Administración       145470 non-null  object
 9   Tipo de procedimiento        145470 non-null  object
 10  Sistema de contratación      141855 non-null  object
 11  Subcontratación permitida    20249 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(1), object(9)
memory usage: 13.3+ MB

In [4]:
df_result1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180656 entries, 0 to 180655
Data columns (total 9 columns):
 #   Column                                                                  Non-Null Count   Dtype
---  ------                                                                  --------------   -----
 0   Identificador                                                           180656 non-null  int64
 1   Link licitación                                                         180656 non-null  object
 2   Fecha actualización                                                     180656 non-null  datetime64[ns]
 3   Resultado licitación/lote                                               180656 non-null  object
 4   Precio de la oferta más baja por licitación/lote                        91409 non-null   float64
 5   Precio de la oferta más alta por licitación/lote                        93922 non-null   float64
 6   Se han excluído ofertas por ser anormalmente bajas por licitación/lote  21950 non-null   float64
 7   Importe adjudicación sin impuestos licitación/lote                      163306 non-null  float64
 8   Importe adjudicación con impuestos licitación/lote                      163306 non-null  float64
dtypes: datetime64[ns](1), float64(5), int64(1), object(2)
memory usage: 12.4+ MB

In [5]:
#Renombre de columnas
nuevas_col_lici =['identificador','link','fecha',
       'vigencia',
       'precio_lici',
       'cpv',
       'tipo_cont',
       'org_cont',
       'tipo_admi',
        'tipo_pro',
        'sist_cont',
        'subcontratacion']
nuevas_col_result =['identificador', 'link','fecha','resultado',
       'precio_min',
       'precio_max',
       'baja_tem',
       'precio_adj_sin_imp',
       'precio_adj_con_imp']

In [6]:
df_lici1=df_lici1.rename(columns={k:v for k,v in zip(df_lici1.columns, nuevas_col_lici)})
df_result1=df_result1.rename(columns={k:v for k,v in zip(df_result1.columns, nuevas_col_result)})

In [7]:
#Eliminacion columnas por no estar en el estudio
df_lici1.drop(['link','fecha','vigencia','org_cont','tipo_admi','subcontratacion'],axis = 1,inplace = True)
df_result1.drop(['link','fecha'],axis = 1,inplace = True)

Estudio de varibles de df_lici1
    identificador debe ser cadena ya que es una clave
    precio_lici contiene nulos.- 
    cpv contiene varios valores.- se reduce a 1

Estudio de variables de df_result1
    identificador debe ser cadena ya que es una clave
    figuran valores por lotes.- reducir a un valor solo por identificador sumando campos precio
    campos precio con vlaor nulo, transformar inicialmente con 0. Con posteriordad, al agrupar se suman. En     el caso de unico valor rellenar min y max con el de ajudicacion.
    campo baja_temp debe tomar valores 0/1. rellenar los nulos con 0.

Solo se seleccionan los adjudicados de result1, el resto se eliman, asi como los de lici1 de igual identificador

In [8]:
# Modificaciones de df_lici_1
df_lici2 = df_lici1
df_lici2.identificador = df_lici2.identificador.astype('string')

In [9]:
#Modifciaciones de df_resutl1
df_result2 = df_result1
df_result2.identificador = df_result2.identificador.astype('string')
df_result2 = df_result2.fillna(0)

In [10]:
df_lici2.head()

,identificador,precio_lici,cpv,tipo_cont,tipo_pro,sist_cont
0,1001315,27300.0,63513000;79956000;79952000;79950000;,Servicios,Negociado sin publicidad,No aplica
1,1001606,910892.0,34933000;,Suministros,Negociado con publicidad,NaN
2,1001783,34034.0,92600000;,Servicios,Negociado sin publicidad,No aplica
3,1002267,240000.0,98351000;,Gestión de Servicios Públicos,Abierto,NaN
4,1007145,2472400.0,32524000;,Suministros,Negociado con publicidad,NaN

In [11]:
df_result2.head()

,identificador,resultado,precio_min,precio_max,baja_tem,precio_adj_sin_imp,precio_adj_con_imp
0,8689190,Adjudicado,19816.45,20000.00,0.0,20000.00,24200.00
1,8723412,Adjudicado,17656.32,18655.68,0.0,17656.32,21364.15
2,8303894,Adjudicado,49852.00,49852.00,0.0,41200.00,49852.00
3,8005484,Adjudicado,0.00,0.00,0.0,8857959.09,10718130.50
4,8005484,Adjudicado,0.00,0.00,0.0,8776679.14,10619781.76

In [12]:
# Seleccion solo de los adjudicados.
#Aquellos que tienen un lote no adjudicado se eliminan todos por no tener detalle de licitacion
#identificacion no adjudicados en resultados
lista_no_adjudica = df_result2.identificador[df_result2.resultado != 'Adjudicado']
lista_no_adjudica_result_index = df_result2[df_result2.identificador.isin(lista_no_adjudica)].index

#deteccion de no adjuidcados en liccitaciones
lista_no_adjudicados=list(lista_no_adjudica.unique())
lista_no_adjudica_lici_index = df_lici2[df_lici2.identificador.isin(lista_no_adjudicados)].index

#Deteccion de adjudicados
licitaciones_adjudicadas_index=[i for i in df_lici2.index if i not in lista_no_adjudica_lici_index]
resultados_adjudicados_index=[i for i in df_result2.index if i not in lista_no_adjudica_result_index]

In [13]:
# Eliminacion de no ejecutados
df_lici3 = df_lici2.iloc[licitaciones_adjudicadas_index]
df_result3   = df_result2.iloc[resultados_adjudicados_index]

In [41]:
# Elimino aquellos adjudicados con precio de adjudicacion 0

df_result3 = df_result3[df_result3.precio_adj_sin_imp != 0]

In [42]:
# Agrupacion de resultados por identificador

df_result4 = df_result3.groupby('identificador',as_index = False).sum()

In [43]:
#Asignacion de valors max y min cuando son 0.
df_result4.loc[(df_result4.precio_min==0)&(df_result4.precio_max==0),['precio_min','precio_max']]=df_result4['precio_adj_sin_imp']

In [44]:
df_result4

,identificador,precio_min,precio_max,baja_tem,precio_adj_sin_imp,precio_adj_con_imp
0,1001606,627201.77,627201.77,0.0,627201.77,758914.14
1,1002267,111500.00,111500.00,0.0,111500.00,111500.00
2,1007145,2472399.73,2472399.73,0.0,2472399.73,2933884.48
3,1007418,1507220.00,1507220.00,0.0,1507220.00,1823736.20
4,1007814,116482.24,149691.36,0.0,116482.24,124636.00
...,...,...,...,...,...,...
106416,985152,204744.80,204744.80,0.0,204744.80,247741.21
106417,985194,15205406.79,15205406.79,0.0,15205406.79,18398542.22
106418,991030,935574.20,935574.20,0.0,935574.20,1001064.39
106419,996489,262800.00,262800.00,0.0,262800.00,317988.00
106420,996620,193528.63,193528.63,0.0,193528.63,207075.63

In [45]:
identificador_result = list(df_result4.identificador)

In [46]:
df_lici3[df_lici3['identificador'].isin ( df_result4.identificador)]

,identificador,precio_lici,cpv,tipo_cont,tipo_pro,sist_cont
1,1001606,910892.00,34933000;,Suministros,Negociado con publicidad,NaN
3,1002267,240000.00,98351000;,Gestión de Servicios Públicos,Abierto,NaN
4,1007145,2472400.00,32524000;,Suministros,Negociado con publicidad,NaN
5,1007418,3720000.00,90910000;,Servicios,Abierto,NaN
6,1007814,261584.00,98341130;,Servicios,Normas internas,No aplica
...,...,...,...,...,...,...
145464,985152,1322880.00,60160000;,Servicios,Negociado con publicidad,NaN
145465,985194,27239507.00,45234110;,Obras,Abierto,NaN
145466,991030,1383385.39,45331000;,Obras,Negociado con publicidad,No aplica
145468,996489,554040.00,50413200;,Servicios,Abierto,NaN
145469,996620,NaN,71311100;71318000;71322000;,Servicios,Abierto,NaN

In [47]:


df_final=df_lici3.join(df_result4.set_index('identificador'), on ='identificador', how = 'right')

In [48]:
# elimino licitaciones sin precio
df_final2=df_final[df_final.precio_lici.isnull()== False]

#elimino licitaciones menores que el adjudicado

df_final2 = df_final2[(df_final2.precio_lici < df_final2.precio_adj_sin_imp) == False]

#elimino licitaciones con importe 0

df_final2 = df_final2[df_final2.precio_lici != 0 ]

# elimino las licitaciones con cpv nulo

df_final2=df_final2[df_final2.cpv.isnull()== False]

In [49]:
df_final2

,identificador,precio_lici,cpv,tipo_cont,tipo_pro,sist_cont,precio_min,precio_max,baja_tem,precio_adj_sin_imp,precio_adj_con_imp
1,1001606,910892.00,34933000;,Suministros,Negociado con publicidad,NaN,627201.77,627201.77,0.0,627201.77,758914.14
3,1002267,240000.00,98351000;,Gestión de Servicios Públicos,Abierto,NaN,111500.00,111500.00,0.0,111500.00,111500.00
4,1007145,2472400.00,32524000;,Suministros,Negociado con publicidad,NaN,2472399.73,2472399.73,0.0,2472399.73,2933884.48
5,1007418,3720000.00,90910000;,Servicios,Abierto,NaN,1507220.00,1507220.00,0.0,1507220.00,1823736.20
6,1007814,261584.00,98341130;,Servicios,Normas internas,No aplica,116482.24,149691.36,0.0,116482.24,124636.00
...,...,...,...,...,...,...,...,...,...,...,...
145463,984860,11061404.96,45252130;90481000;45259100;,Gestión de Servicios Públicos,Abierto,NaN,3390923.01,3390923.01,0.0,3390923.01,3765087.82
145464,985152,1322880.00,60160000;,Servicios,Negociado con publicidad,NaN,204744.80,204744.80,0.0,204744.80,247741.21
145465,985194,27239507.00,45234110;,Obras,Abierto,NaN,15205406.79,15205406.79,0.0,15205406.79,18398542.22
145466,991030,1383385.39,45331000;,Obras,Negociado con publicidad,No aplica,935574.20,935574.20,0.0,935574.20,1001064.39
145468,996489,554040.00,50413200;,Servicios,Abierto,NaN,262800.00,262800.00,0.0,262800.00,317988.00

In [50]:
df_final2['porcen_adjudic'] = df_final2['precio_adj_sin_imp']/df_final2['precio_lici']

In [51]:
df_final2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 101300 entries, 1 to 145468
Data columns (total 12 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   identificador       101300 non-null  string
 1   precio_lici         101300 non-null  float64
 2   cpv                 101300 non-null  object
 3   tipo_cont           101300 non-null  object
 4   tipo_pro            101300 non-null  object
 5   sist_cont           98602 non-null   object
 6   precio_min          101300 non-null  float64
 7   precio_max          101300 non-null  float64
 8   baja_tem            101300 non-null  float64
 9   precio_adj_sin_imp  101300 non-null  float64
 10  precio_adj_con_imp  101300 non-null  float64
 11  porcen_adjudic      101300 non-null  float64
dtypes: float64(7), object(4), string(1)
memory usage: 10.0+ MB

In [52]:
df_final2.groupby('tipo_pro').count()

,identificador,precio_lici,cpv,tipo_cont,sist_cont,precio_min,precio_max,baja_tem,precio_adj_sin_imp,precio_adj_con_imp,porcen_adjudic
tipo_pro,,,,,,,,,,,
Abierto,34370,34370,34370,34370,32596,34370,34370,34370,34370,34370,34370
Abierto simplificado,37253,37253,37253,37253,36651,37253,37253,37253,37253,37253,37253
Derivado de acuerdo marco,13424,13424,13424,13424,13424,13424,13424,13424,13424,13424,13424
Diálogo competitivo,5,5,5,5,4,5,5,5,5,5,5
Licitación con negociación,86,86,86,86,85,86,86,86,86,86,86
Negociado con publicidad,844,844,844,844,773,844,844,844,844,844,844
Negociado sin publicidad,12445,12445,12445,12445,12278,12445,12445,12445,12445,12445,12445
Normas internas,2178,2178,2178,2178,2131,2178,2178,2178,2178,2178,2178
Otros,13,13,13,13,13,13,13,13,13,13,13
Restringido,682,682,682,682,647,682,682,682,682,682,682

In [53]:
# Par no distorsionar información. El estudio se centrará en los procedimientos de contrato más comunes.

df_final3 =df_final2[(df_final2.tipo_pro=='Abierto')|(df_final2.tipo_pro =='Abierto simplificado')]

In [60]:
df_final3.describe().style.format(precision=2)

In [66]:
df_final3.groupby('tipo_cont').count()

,identificador,precio_lici,cpv,tipo_pro,sist_cont,precio_min,precio_max,baja_tem,precio_adj_sin_imp,precio_adj_con_imp,porcen_adjudic
tipo_cont,,,,,,,,,,,
Administrativo especial,152,152,152,152,140,152,152,152,152,152,152
Colaboración entre el sector público y sector privado,6,6,6,6,6,6,6,6,6,6,6
Concesión de Obras,16,16,16,16,16,16,16,16,16,16,16
Concesión de Obras Públicas,2,2,2,2,2,2,2,2,2,2,2
Concesión de Servicios,464,464,464,464,451,464,464,464,464,464,464
Gestión de Servicios Públicos,44,44,44,44,30,44,44,44,44,44,44
Obras,16816,16816,16816,16816,16395,16816,16816,16816,16816,16816,16816
Patrimonial,292,292,292,292,291,292,292,292,292,292,292
Privado,824,824,824,824,804,824,824,824,824,824,824
Servicios,33388,33388,33388,33388,31863,33388,33388,33388,33388,33388,33388
Suministros,19619,19619,19619,19619,19249,19619,19619,19619,19619,19619,19619

In [70]:
# Seleccionamos los tipos de contratos más comunes: Obras, Suministros y Servicios

df_final4 = df_final3[(df_final3.tipo_cont =='Obras')|(df_final3.tipo_cont =='Suministros')|(df_final3.tipo_cont =='Servicios')]

In [73]:
df_final4.describe().style.format(precision = 2)