Se pretende obtener el listado de errores en formato csv de un fichero pdf

In [1]:
# !pip install pymupdf

In [2]:
import pandas as pd
import numpy as np
import fitz

In [42]:
doc = fitz.open(r'C:/Users/ragod/OneDrive/Escritorio/2022_errores_posteriores.pdf') 
#lectura d ela pagina de clasificaci
lista =[]
for p in range(0,277):
    pagina = doc[p]
    paras = pagina.get_text('blocks')
    # la informaci√≥n empieza del bloque 13  al 33 apartir del elemento 5
    for i in range(13, len(paras)-1):
        lista.append(paras[i][4])

In [44]:
lista2=[]
for n in range(0, len(lista)-1,2):
    lista2.append(lista[n]+'\n'+lista[n+1])

In [45]:

for n in range(len(lista2)):
    xx = lista2[n][18:21]
    if xx == '200':
        lista2[n]=lista2[n][:18]+'*\n*\n'+lista2[n][18:]

In [46]:
for n in range(len(lista2)):
    xx = lista2[n][18:21]
    if xx == '000':
        lista2[n]=lista2[n][:18]+'*\n'+lista2[n][18:]

In [47]:
for n in range(len(lista2)):
    xx = lista2[n][36:39]
    if xx == '200':
        lista2[n]=lista2[n][:36]+'*\n'+lista2[n][36:]

In [48]:
lista3 =[]
for n in range(0, len(lista2)):
    lista3.append(lista2[n].split('\n'))

In [49]:
for n in range(len(lista3)):
    lista3[n][6]= lista3[n][6].replace('.', '')

In [50]:
for n in range(len(lista3)):
    lista3[n][6]= lista3[n][6].replace(',', '.')

In [51]:
df =pd.DataFrame(lista3)

In [52]:
df.columns =['num_paralela','num_x','tercero','cod_op','op_2021','apli','importe','exp_gasto','exp_gestor','num_error','error','x','y']

In [53]:
df['num_error'] = np.where(df['num_error'] =='', df['error'], df['num_error'])

In [54]:
df['error'] = np.where(df['error'] ==df['num_error'], df['x'], df['error'])

In [55]:
df.pop('x')
df.pop('y')

0
1
2
3
4       None
        ...
3007
3008
3009
3010
3011
Name: y, Length: 3012, dtype: object

In [59]:
df[df['num_paralela']=='Total']

,num_paralela,num_x,tercero,cod_op,op_2021,apli,importe,exp_gasto,exp_gestor,num_error,error
153,Total,"7.521.966,28",14 Servicio 01,,Total Compromisos:,"3.758.483,14",,None,None,None,None
377,Total,"15.022.042,05",14 Servicio 02,,Total Compromisos:,"7.305.585,57",,None,None,None,None
1745,Total,"18.373.709.326,6",14 Servicio 03,,Total Compromisos:,"14.704.943.867,91",,None,None,None,None
1902,Total,"59.333.724,76",14 Servicio 12,,Total Compromisos:,"30.052.720,09",,None,None,None,None
2029,Total,"88.224.920,01",14 Servicio 17,,Total Compromisos:,"61.328.796,63",,None,None,None,None
2934,Total,"141.277.996,19",14 Servicio 22,,Total Compromisos:,"63.126.321,34",,None,None,None,None

In [63]:
clean_index=[i for i in df.index if i not in df[df['num_paralela'] =='Total'].index]  # selecciono los indices del df que no estan en outliers

df=df.iloc[clean_index]

In [66]:
df.to_csv('df_final.csv', index = False)